@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #645CBB;
}

main{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
}

#calc{
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 90px);
}

#display{
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

button{
    background-color: #BFACE2;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: all .3s ease-in-out;
}

button:hover{
    background-color: #A084DC;
}

button:active{
    background-color: #EBC7E6;
    color:white;
}

#calc button{
    font-size: 2rem;
}

.btAC, .btEquals{
    grid-column: span 2;
}

#hist{
    height: 55vh;
    font-family: 'Poppins', sans-serif;
    color: white;
}

#hist .histtop{
    display: flex;
    justify-content: space-between;
}

.histtop button{
    font-size: 1rem;
    height: min-content;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
}

#title{
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: white;
}

#title h1{
    font-size: 4rem;
    line-height: 3rem;
    margin-left: 25px;
}

#title span{
    font-size: 2rem;
    line-height: 3px;
}

#title img{
    height: 200px;
}

::-webkit-scrollbar{
    display: none;
}

#hist p{
    font-size: 1.5rem;
    margin-top: 35px;
    margin-left: 40px;
}

#hist #histlist{
    height: 40vh;
    overflow-y: scroll;
}

#hist #histlist li{
    list-style-type: none;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
}

#hist a{
    background-color: #A084DC;
    align-items: center;
    width: 50%;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

@media only screen and (max-device-width: 1024px) {
    main{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        min-height: 150vh;
    }

    #calc{
        grid-template-columns: repeat(4,200px);
        grid-template-rows: minmax(150px, auto) repeat(5, 80px);
        margin-bottom: 40px;
    }
}

@media only screen and (max-device-width: 609px) {
    main{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    #calc{
        grid-template-columns: repeat(4,80px);
        grid-template-rows: minmax(90px, auto) repeat(5, 105px);
        margin-bottom: 40px;
    }

    #display{
        font-size: 1.5rem;
    }

    #hist p{
        font-size: 1.2rem;
        margin-top: 35px;
        margin-left: 0px;
    }

    #title h1{
        font-size: 2.5rem;
        line-height: 1rem;
        margin-left: 0px;
    }
    
    #title span{
        font-size: 1.3rem;
        line-height: 3px;
    }
    

    #title img{
        display: none;
        padding: 5px;
    }
}